
.containerAll{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
}

.containerTitre{
        height: 50%;
        width: 100%;
        display:flex;
        justify-content:center;
        align-items:center;
}

.containerTitre .textTitre h2{
    background: grey;
    opacity: 0.9;
    padding: 25px;
    border-radius: 25px;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #000;
    font-weight: bold;
    font-size: 30px;
}

.dateDeParution {
    font-style: italic;
    color: #ccffcc;
}

.contenu{
    color:  #efeff5;
}

.infoArticle{
border-radius: 25px;
background-color: #000;
padding: 5px 20px;
margin: 20px;

}

.bordure{
    border-bottom: 2px solid #b3b3b8;
    padding-bottom: 5%;
}

.ajouterCommentaire{

    color: grey;
    padding: 5px 20px;
    margin: 20px;
}

.infoCommentaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border : 1px solid grey;
}

.infoCommentaire .info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.infoCommentaire{
    padding: 0;
    margin: 0;

}
.optionCommentaire{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border : 1px solid grey;
    font-size: 12px;
    padding: 0 5px;
    margin:0;
}

textarea{
    width: 100%;
    margin: 0;
}

#filtreAvance {
    display: none;
}

ul {
    text-decoration: none;
}

.btnAjout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btnPublier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textCommentaire{
    width: 100%;
    background-color: #fff;
    border : 1px solid grey;
    font-size: 12px;
    padding: 20px;
    margin: 0;
}


.ajoutCommentaire{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border : 1px solid grey;
}

.ajoutCommentaire .info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.ajoutCommentaire{
    padding: 0;
    margin: 0;
}

#ajoutDiv {
    display: none;
    width: 100%;
    border-bottom: 2px solid #b3b3b8;
    padding-bottom: 5%;
}
.listCommentaire{
    width: 100%;
    margin-bottom: 50px;
}

.textCommentaire{
    width: 100%;
    margin: 0;
}

.commentaireArticle{
    padding-top: 5%;
}

#listCom{
    display: none;
}