.navbar {
  overflow: hidden;
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: -0.2%;
  z-index: 100;
}

/* Navigation links */
.navbar a {
  float: left;
  display: block;
  color: grey;
  text-align: center;
  padding: 23px 35px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  height: 100%;
  width: 100%;
  margin: 0;
}


.navbar .search{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 15px 2px;
}

header input[type=text] {
padding: 6px;
border: none;
font-size: 20px;
text-align: center;
height: 100%;
}

header button {
  height: 100%;
}

.subnav .subnavbtn {
border: none;
outline: none;
padding: 15px 22px;
display: flex;
align-items: center;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
background-color: #23a6d5;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
display: none;
position: absolute;
right: 0;
background-color: beige;
width: 20%;

z-index: 1;
}

/* Style the subnav links */
.subnav-content a {

color: grey;
text-decoration: none;
padding: 23px 22px;
display: flex;
align-items: center;

}


/* Add a grey background color on hover */
.subnav-content a:hover {
background-color: #eee;
color: grey;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
display: block;
top: 100%;

} 


a.active {
background-color: #000;
color: wheat;
width: 100%;
padding: 23px 22px;
}

i{
margin: 0 5px;
}



@media screen and (max-width: 1300px){
  header input[type=text] {
  padding: 6px;
  border: none;
  font-size: 15px;
  text-align: center;
  }

}


@media screen and (max-width: 1200px){
  header input[type=text] {
  padding: 5px;
  border: none;
  font-size: 15px;
  text-align: center;
  }
  .navbar a {
    padding: 23px 18px;
  }
  a.active {
    padding: 23px 18px;
    }
    .subnav-content a {
      padding: 20px 18px;
    }
    .subnav .subnavbtn {
      padding: 15px 18px;
      }
}

@media screen and (max-width: 1100px){
  header input[type=text] {
  padding: 4px;
  border: none;
  font-size: 12px;
  text-align: center;
  }
  .navbar a {
    padding: 23px 12px;
  }
  a.active {
    padding: 23px 12px;
    }
    .subnav-content a {
      padding: 20px 12px;
    }
    .subnav .subnavbtn {
      padding: 15px 12px;
      }
}

@media screen and (max-width: 800px){
  header input[type=text] {
  padding: 3px;
  border: none;
  font-size: 11px;
  text-align: center;
  }

  .navbar a {
    padding: 23px 9px;
  }
  a.active {
    padding: 23px 9px;
    }
    .subnav-content a {
      padding: 20px 9px;
    }
    .subnav .subnavbtn {
      padding: 15px 9px;
      }
      .navbar a {
        font-size: 15px;
      }

}

@media screen and (max-width: 700px){
  .navbar a {
    font-size: 12px;
  }
  .subnav .subnavbtn {
    padding: 15px 2px;
    }

}


@media screen and (max-width: 600px){
  .navbar a {
    font-size: 10px;
  }
  header input[type=text] {
    font-size: 10px;
    }
}