.containerAll {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 100%;
}

.contentAll{
  width: 100%;
}

.total{
    width: 100%;
    display: block;
}

.divInfoClient{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.divInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.total input , select{
    width: 65%;
    padding: 5px 10px;
    border-radius: 15px;
    margin: 0 5px;
    background: white;
}

.petitCalendrier{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.calendar
{
  background:#fff;
  color:#222629;
  max-width:400px;
  margin: 0;
  padding: 0  0 10px 0;
  border-radius: 10px;

}

.calendar button
{
  border:none;
}

.calendar .header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background:#66d9ff;
  padding: 5px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0;
  width: 100%;
}

.calendar .month
{
  display:inline-block;
  font-weight:bold;
}

.calendar button
{
  background:#99dcf3;
  border-radius: 50%;
  cursor:pointer;
  font-family:Consolas;
  font-size:20px;
  font-weight:bold;
  height:100%;
}

.calendar button:hover
{
  color:#009FB7;
}

.calendar button:first-child
{
/*  float:left;*/
    margin: 0;
}
/*
.calendar button:last-child
{
/*  float:right;*//*
}
*/

.calendar .cell
{
  background:#fff;
  color:#5d5d5d;
  display:inline-block;
  padding:5px 0;
  text-align:center;
  width:calc(100% / 7);
  cursor: pointer;
}

.calendar .cell:hover{
  background:#009FB7;
  border-radius: 5px;
  color: white;
}

.calendar .day
{
    cursor: auto;
    font-size: 10px;
    background: rgb(148, 216, 233);
    padding: 10px 0;
}

.calendar .dateJour
{
  background:rgb(126, 231, 94);
  color:#fff;
  border-radius: 5px;
}




.calendriers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.grandCalendrier{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 10px;
}

table{
  padding: 5px;
  width: 100%;
  border: 1px solid grey;
  background: white;
  text-align: center;
}

table th {
  border: 1px solid grey;
  font-size: 20px;
  padding: 5px;
}

table td {
  border: 1px solid grey;
  padding: 5px;
}

.legende div{
  display: block;
  text-align: center;
  font-size: 12px;
  width: 25%;
  margin: 10px;
}

.legende div canvas{
  margin: 5px 0;
}

.rectangle{
  width: 100%;
  border-radius: 10px;
  background: white;
}

.conseillerIndisponible{
  background: #5d5d5d;
}

.legende{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tabPriseRDV{
  display: none;
}

.width{
  width: 100%;
}

/*

.check:checked ~ .blocked {
  display: none;
}

.check:checked ~ button {
  display: block;
}

input[type="checkbox"]:focus {
  border-color: #9ab593;
}

input[type="checkbox"]:checked {
  display: block;
}

*/
.containerInput {
  position: sticky;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

/* Hide the browser's default checkbox */
.containerInput input {
  opacity: 0;
  cursor: pointer;
  height: 100%;
  width: 85%;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

/* On mouse-over, add a grey background color */
.containerInput:hover input ~ .checkmark {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

/* When the checkbox is checked, add a blue background */
.containerInput input:checked ~ .checkmark {
  background-color: #2196F3;
  width: 100%;
  height: 100%;
}

.containerInput input:checked ~ .check {
  color: white;
}


input[type="submit"]{
  margin: 10px 0;
  padding: 5px 20px;
  width: auto;
}

.submit{
  display: none;
}